extends layout

block content
	div(class='ui container')
		h1 Funding
		p The Free Internet Alliance is actively seeking funding to help further its efforts. We have received many donations from individuals and organizations alike. The following is a letter detailing our reaching out to venture capitalist Benchmark Capital Partners.

		div(class='media')
			iframe(src='https://docs.google.com/document/d/e/2PACX-1vSBwwdT1ARcHj30gTIkgNv8ZGdmwfhXAXV2DMgd_RfZRAqw8WGdTGqyQoRHCCq9vPXSbGhi1I1FxcNE/pub?embedded=true')

	link(rel='stylesheet' type='text/css' href='/public/css/funding.css')