extends layout

block content
	div(class='headerImage')

	div(class='content')
		div(class='ui container')
			h1(id='top') The Free Internet Alliance
			h2 Because the internet should stay free and open.

			p The Free Internet Alliance is founded on the idea that the internet needs to stay neutral and open - that is, with equal access across all platforms to all websites; no prioritization of any one server. With recent debate and political actions surrounding net neutrality, the need to create an organization dedicated to keeping the internet as it should be was realized.
			p If you're unsure about what net neutrality is, this educational video should help:
		div(class='video')
			div(class='ui container')
				div(class='fluidMedia')
					iframe(src="https://www.youtube-nocookie.com/embed/y6fjtKywnmo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		div(class='ui container')
			h1 Further information
			p This slideshow should provide all other needed information about net neutrality and the FIA.

			div(class='slideshow')
				iframe(src='https://docs.google.com/presentation/d/e/2PACX-1vRBkC25AVEcJaEPKgo0O4nrqi22ZTp9Tvqm-_QZPz5_-P5A4I0waFFxBbQj1WVy5_y8Cn9b1T6kOtyb/embed?start=false&loop=false&delayms=10000' frameborder='0' allowfullscreen='true' mozallowfullscreen='true' webkitallowfullscreen='true')

	link(rel='stylesheet' type='text/css' href='public/css/index.css')
