extends layout

block content
	div(class='ui container')
		h1 Project Proposal

		div(class='media')
			iframe(src='https://docs.google.com/document/d/e/2PACX-1vRdJnk_JGsQDGwEeO8zkwLb5p12GE0mxsMXPiI0BAz8aSTCAmfca5S0OlE-0lgKxGAqSm9t2ft-wIH1/pub?embedded=true')

	link(rel='stylesheet' type='text/css' href='/public/css/proposal.css')