extends layout

block content
	div(class='ui container')
		h1 Rhetorical précis
		div(class='media')
			iframe(src='https://docs.google.com/document/d/e/2PACX-1vTJLFgsffhJ8CDRBVTJTeGdBIyoV1ouEsen6MozGoLjSzw39QBkJtOb1eARDLxM9_QwmTudF2ps92t3/pub?embedded=true')

		h1 Rhetorical analysis
		div(class='media')
			iframe(src='https://docs.google.com/document/d/e/2PACX-1vRBHTWVpLVUUOLKV02lVSupVk6p03LCgklTXimZO3aWYZBG9dktou8Xg-dpllSlT7EeCJWnln9oK3OG/pub?embedded=true')

		h1 Research log
		div(class='media')
			iframe(src='https://docs.google.com/document/d/e/2PACX-1vSWRyPl_sEPbai8Wg7FvP3NMwA0SDF5IWKdoB-D_SAAcoLOplR-Pq0-A2Kjni9xz4vPVvMAMMT5ZaK2/pub?embedded=true')

	link(rel='stylesheet' type='text/css' href='/public/css/research.css')