.footer.segment {
    margin-top: 4em !important;
    padding: 4em 0;
}

.item {
    margin: 0 5px 0 5px !important;
}

.item img {
    height: auto !important;
    width: 50% !important;
}

.nav-spacer {
    width: 10px !important;
}

.footer p {
    color: #afafaf;
    line-height: 1.2;
}